<div class="h--footer-copy">
  <div class="h--footer-copy-icons" style="display:flex; gap:20px; align-items: center;">
    <svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_501_1876)">
      <g clip-path="url(#clip1_501_1876)">
      <path d="M13.5821 16.8143C13.653 16.8742 13.7248 16.933 13.7977 16.9905C12.3451 17.9697 10.6329 18.492 8.88115 18.4901C3.97474 18.4913 0 14.4716 0 9.51021C0 4.55217 3.97474 0.530285 8.8789 0.530285C10.6973 0.530285 12.3889 1.08255 13.7954 2.02993C13.7224 2.09167 13.6506 2.14779 13.5967 2.21065C12.5569 3.12139 11.7239 4.24404 11.1538 5.50324C10.5836 6.76245 10.2894 8.12906 10.291 9.51133C10.2897 10.8924 10.5824 12.2579 11.1497 13.5171C11.7169 14.7762 12.5457 15.9002 13.581 16.8143H13.5821ZM19.8569 0.530285C18.105 0.527492 16.3924 1.04985 14.9404 2.02993C15.0133 2.09167 15.0852 2.14779 15.139 2.21065C16.1789 3.12139 17.0118 4.24404 17.582 5.50324C18.1522 6.76245 18.4463 8.12906 18.4448 9.51133C18.4456 10.8923 18.1526 12.2576 17.5854 13.5167C17.0182 14.7758 16.1896 15.8999 15.1547 16.8143C15.0836 16.8742 15.0113 16.933 14.9381 16.9905C16.3905 17.97 18.1028 18.4923 19.8546 18.4901C24.7599 18.4913 28.7358 14.4716 28.7358 9.51021C28.7358 4.55329 24.761 0.530285 19.8569 0.530285ZM14.3679 2.45536C13.3076 3.29967 12.4519 4.37281 11.8649 5.5945C11.2778 6.81619 10.9746 8.15481 10.978 9.51021C10.9741 10.866 11.2771 12.2051 11.8641 13.4273C12.4512 14.6494 13.3071 15.7229 14.3679 16.5673C15.4284 15.7227 16.2842 14.6492 16.8713 13.4271C17.4583 12.205 17.7614 10.866 17.7578 9.51021C17.7613 8.15462 17.4582 6.81578 16.8712 5.59388C16.2841 4.37199 15.4283 3.29867 14.3679 2.45423V2.45536Z" fill="white"/>
      </g>
      </g>
      <defs>
      <clipPath id="clip0_501_1876">
      <rect width="29.1848" height="17.9599" fill="white" transform="translate(0 0.530273)"/>
      </clipPath>
      <clipPath id="clip1_501_1876">
      <rect width="29.1848" height="17.9599" fill="white" transform="translate(0 0.530273)"/>
      </clipPath>
      </defs>
    </svg>

    <svg width="61" height="19" viewBox="0 0 61 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_501_1881)">
      <g clip-path="url(#clip1_501_1881)">
      <path d="M24.1579 0.828613L21.1159 18.2283H25.9785L29.0216 0.829736L24.1579 0.828613ZM17.0312 0.848818L12.2662 12.7169L11.7712 10.9232C10.8305 8.76799 8.16461 5.66655 5.03174 3.68984L9.39149 18.2048H14.537L22.1856 0.844328L17.03 0.848818H17.0312Z" fill="white"/>
      <path d="M9.91208 2.09311C9.63033 1.01216 8.80867 0.718064 7.78945 0.679899H0.248552L0.18457 1.01328C6.05744 2.40292 9.94126 5.74458 11.5644 9.76646L9.91208 2.09311ZM38.8881 4.16748C40.1344 4.14063 41.3732 4.36709 42.5294 4.83312L42.9649 5.03516L43.6227 1.26359C42.227 0.767927 40.7553 0.519871 39.2742 0.530608C34.4587 0.530608 31.0699 2.88896 31.0407 6.27439C31.0104 8.77306 33.4541 10.1762 35.3152 11.0001C37.1763 11.8251 37.8441 12.3987 37.8385 13.1609C37.8385 14.3238 36.3243 14.8581 34.9245 14.8581C33.348 14.9052 31.7813 14.5939 30.3425 13.9477L29.7196 13.6727L29.0315 17.5644C30.777 18.1917 32.6197 18.5052 34.4744 18.4905C39.5907 18.4905 42.9156 16.1613 42.9492 12.5435C42.9492 10.5668 41.673 9.06154 38.8577 7.82231C37.1561 7.01187 36.1166 6.47756 36.1267 5.66264C36.0975 4.93863 36.9832 4.16748 38.8881 4.16748ZM56.0958 0.849395H52.3355C51.1681 0.849395 50.3015 1.15808 49.7874 2.29629L42.5788 18.239H47.6839C47.6839 18.239 48.5157 16.0928 48.7031 15.6247H54.9386C55.0811 16.2331 55.5312 18.2289 55.5312 18.2289H60.0549L56.0958 0.849395ZM50.1085 12.0664C50.5092 11.0674 52.0481 7.20045 52.0481 7.20045C52.0481 7.20045 52.4444 6.19694 52.6969 5.54141L53.0225 7.04105C53.0225 7.04105 53.9586 11.1943 54.1517 12.0664H50.1085Z" fill="white"/>
      </g>
      </g>
      <defs>
      <clipPath id="clip0_501_1881">
      <rect width="60.6145" height="17.9599" fill="white" transform="translate(0.18457 0.530273)"/>
      </clipPath>
      <clipPath id="clip1_501_1881">
      <rect width="60.6145" height="17.9599" fill="white" transform="translate(0.18457 0.530273)"/>
      </clipPath>
      </defs>
    </svg>

    <svg width="72" height="21" viewBox="0 0 72 21" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.79488 0.531395H9.31319C11.1601 0.531395 12.5509 1.04251 13.3356 2.01004C14.0499 2.89069 14.2861 4.14803 14.0392 5.74884C13.4912 9.40687 11.3933 11.253 7.75861 11.253H6.01118C5.63465 11.253 5.31221 11.5408 5.25455 11.9328L4.65252 15.9384C4.59334 16.3304 4.27242 16.6182 3.89488 16.6182H1.26021C0.977046 16.6182 0.760723 16.3544 0.80511 16.061L3.03723 1.21066C3.0959 0.819151 3.41733 0.530884 3.79488 0.530884V0.531395ZM6.66934 8.03351C8.13208 8.03351 9.64533 8.03351 9.94685 5.95533C10.0576 5.22546 9.9688 4.69696 9.679 4.34123C9.19329 3.74527 8.25351 3.74527 7.25658 3.74527H6.87495C6.64944 3.74527 6.45556 3.91803 6.42087 4.15263L5.83669 8.03351H6.66934ZM23.1656 5.88888H25.8079C26.0906 5.88888 26.3059 6.15364 26.2605 6.44599L24.8324 15.9379C24.7727 16.3299 24.4533 16.6176 24.0748 16.6176H21.6947C21.4131 16.6176 21.1967 16.3539 21.2406 16.059L21.359 15.2888C21.359 15.2888 20.0539 16.8763 17.7009 16.8763C16.3305 16.8763 15.1779 16.4613 14.3728 15.4656C13.4948 14.382 13.1356 12.8293 13.3881 11.205C13.8739 7.94918 16.3677 5.6277 19.2881 5.6277C20.5615 5.6277 21.837 5.91904 22.4095 6.79048L22.5942 7.0716L22.7115 6.29624C22.7254 6.18488 22.779 6.08232 22.8625 6.00746C22.9459 5.93259 23.0536 5.89048 23.1656 5.88888ZM19.1432 13.9338C20.6717 13.9338 21.8697 12.8707 22.1248 11.2862C22.2401 10.5191 22.0804 9.82292 21.6779 9.32407C21.2758 8.83033 20.6656 8.56864 19.9156 8.56864C18.4105 8.56864 17.1922 9.66754 16.9544 11.2382C16.8299 12.0084 16.9784 12.7 17.3687 13.1866C17.7626 13.6762 18.3759 13.9338 19.1432 13.9338Z" fill="white"/>
      <path d="M39.8817 5.88843H37.2266C36.9731 5.88843 36.7353 6.02081 36.5914 6.2411L32.9287 11.9037L31.3767 6.46241C31.2787 6.12201 30.9792 5.88843 30.6405 5.88843H28.0313C27.714 5.88843 27.4936 6.2135 27.5946 6.52732L30.5196 15.5357L27.7696 19.6093C27.5533 19.9307 27.7711 20.3718 28.1451 20.3718H30.7971C31.0486 20.3718 31.2843 20.243 31.4272 20.0263L40.2598 6.64641C40.471 6.32645 40.2542 5.88843 39.8817 5.88843Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M43.1547 0.531395H48.674C50.5209 0.531395 51.9112 1.04251 52.6944 2.01004C53.4087 2.89069 53.6469 4.14803 53.399 5.74884C52.8505 9.40687 50.7531 11.253 47.1174 11.253H45.371C44.9945 11.253 44.6725 11.5408 44.6144 11.9328L43.9807 16.1428C43.9399 16.4173 43.7149 16.6182 43.4516 16.6182H40.6195C40.3379 16.6182 40.1216 16.3544 40.166 16.061L42.3981 1.21066C42.4567 0.819151 42.7777 0.530884 43.1547 0.530884V0.531395ZM46.0332 8.03351C47.497 8.03351 49.0102 8.03351 49.3113 5.95533C49.4215 5.22546 49.3337 4.69696 49.0439 4.34123C48.5582 3.74527 47.6174 3.74527 46.6215 3.74527H46.2399C46.0133 3.74527 45.821 3.91803 45.7863 4.15263L45.2016 8.03351H46.0332ZM62.5259 5.88837H65.1667C65.4499 5.88837 65.6662 6.15415 65.6228 6.44548L64.1938 15.9379C64.1346 16.3299 63.8137 16.6176 63.4366 16.6176H61.0571C60.7739 16.6176 60.5576 16.3539 60.602 16.059L60.7198 15.2882C60.7198 15.2882 59.4152 16.8763 57.0622 16.8763C55.6913 16.8763 54.5408 16.4613 53.7337 15.4656C52.8561 14.382 52.4985 12.8293 52.75 11.205C53.2362 7.94918 55.7296 5.6277 58.6494 5.6277C59.9229 5.6277 61.1979 5.91904 61.7698 6.79048L61.9555 7.0716L62.0724 6.29573C62.0863 6.18446 62.1398 6.08196 62.2231 6.00711C62.3065 5.93226 62.414 5.89009 62.5259 5.88837ZM58.5051 13.9343C60.0331 13.9343 61.2331 12.8707 61.4867 11.2862C61.6035 10.5191 61.4438 9.82292 61.0392 9.32356C60.6377 8.83033 60.0275 8.56864 59.277 8.56864C57.7724 8.56864 56.5556 9.66703 56.3158 11.2377C56.1933 12.0084 56.3403 12.7005 56.7306 13.1866C57.1245 13.6757 57.7392 13.9343 58.5051 13.9343Z" fill="white"/>
      <path d="M68.2848 0.938653L66.0195 16.0615C65.9751 16.3543 66.1914 16.6186 66.473 16.6186H68.7501C69.1286 16.6186 69.4495 16.3308 69.5077 15.9388L71.7414 1.08841C71.7857 0.795541 71.5694 0.530273 71.2878 0.530273H68.7378C68.5128 0.531296 68.3194 0.704052 68.2848 0.938653Z" fill="white"/>
    </svg>
  </div>

  <p style="margin-top: auto; margin-bottom: 0.75rem; margin-left: 0; font-size: 14px;">&copy; VALERIA GALYGINA</p>
</div>
