<style>
    .h--individual-wishes-section {
        display: grid;
        gap: 36px;
    }

    @media (min-width: 1024px) {
        .h--individual-wishes-section {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>

<div class="h--individual-wishes-section template-{{ template.name }}">
  {% comment %} 1 {% endcomment %}
  <div class="h--individual-wishes__text">
    {%- if section.settings.title != blank -%}
      <h1 class="h2 inline-richtext h--video-banner-section__title">
        {{ section.settings.title }}
      </h1>
    {%- endif -%}
    {%- if section.settings.subtitle != blank -%}
      <p class="inline-richtext h--video-banner-section__subtitle">
        {{ section.settings.subtitle }}
      </p>
    {%- endif -%}
  </div>

  {% comment %} 2 {% endcomment %}
  <div class="h--individual-wishes__image">
    <img width="93" height="auto" src="{{ section.settings.individual_wishes_image | image_url }}" alt="">
  </div>

  {% comment %} 3 {% endcomment %}
  <div class="h--individual-wishes__form">
    {% comment %} {% section 'contact-form' %} {% endcomment %}

    {% comment %} mock {% endcomment %}
    form
  </div>
</div>

{% schema %}
{
  "name": "individual-wishes",
  "tag": "section",
  "class": "section-individual-wishes section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "individual_wishes_image",
      "label": "Image URL"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Individual wishes title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Individual wishes subtitle"
    }
  ],
  "blocks": [
    {
      "type": "individual-wishes",
      "name": "Logo for banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "individual_wishes_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title",
          "info": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "default": "Describe braand",
          "label": "subtitle",
          "info": "subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "individual-wishes",
      "settings": {
        "title": "individual-wishes"
      },
      "blocks": [
        {
          "type": "individual-wishes"
        }
      ]
    }
  ]
}
{% endschema %}
