<div class="video-banner template-{{ template.name }}">
  <div style="background: tomato; height: 100vh;"></div>
</div>
{% schema %}
{
  "name": "t:sections.video-banner-section.name",
  "tag": "section",
  "class": "section-video section",
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
